STORE_CORS=http://localhost:8000,https://docs.medusajs.com,https://tres.rydevhub.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,https://api.tres.rydevhub.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,https://tres.rydevhub.com,https://api.tres.rydevhub.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=